{% extends "base.html" %}

{% block content %}
<div class="form-style-10">

{% if books %}
    <h2>Books: {{ books[0].author }}</h2>
    <table class="customTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Number views</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>
                    {{ book.id }}
                </td>
                <td>
                    {{ book.title }}
                </td>
                <td>
                    {{ book.number_views }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <h2> Sorry, no books in DB.</h2>
{% endif %}
</div>
{% endblock %}